name: Update Modrinth Description Updater

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  update-modrinth:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Sync README to Modrinth
        uses: funnyboy-roks/modrinth-auto-desc@v1.7
        with:
          auth-token: ${{ secrets.MODRINTH_TOKEN }}
          slug: 'QSSFb4tn'
