name: Upload to Pterodactyl

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Deploy To Pterodactyl
        uses: Itzbenz/deploy-to-pterodactyl@v0.1
        with:
          source: 'app/build/libs/FoliaChallenges.jar'
          target: 'plugins/FoliaChallenges.jar'
          panel-url: ${{ secrets.PTERO_URL }}
          server-id: ${{ secrets.PTERO_SERVER_ID }}
          api-key: ${{ secrets.PTERO_API_KEY }}
          restart: true
